img {
  width: 100%;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  text-align: justify;
}

.news-card .card {
  overflow-y: scroll;
  border: none;
  background-color: #F2E6DF;
}

.card-img-top  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 8%;
    padding-top: 10%;
    width: 50%;
}

.news-card .card::-webkit-scrollbar {
  width: 12px;
}

.news-card .card::-webkit-scrollbar-track {
  background: #F2E6DF;
}

.news-card .card::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
}